<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue !
			{% endblock %}
		</title>
		
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary navbar-transparent">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Lappinventaire</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('home') }}">Accueil
								<span class="visually-hidden">(actuel)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('alarm_index') }}">Mes alarmes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('collection_entity_index') }}">Mes collections</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('collectible_index') }}">Mes possessions</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('message_index') }}">Mes messages</a>
						</li>
						<li class="nav-item dropdown dropbtn">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-sm-2" type="text" placeholder="Search">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>

		{% block body %}{% endblock %}

		{#TODO : Footer#}
		<hr />
		<h5>Footer !</h5>
	</body>
</html>
